---
import cleanHTML from '~/utils/cleanHTML';
const { layout } = Astro.props;
const { accordion } = layout;
---
<script>
  // Find our component DOM on the page.
  const buttons = document.querySelectorAll('dt button');

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener('click', () => (
      button.parentElement.nextElementSibling.classList.toggle('hidden'),
      button.querySelectorAll('svg').forEach((svg) => {
        svg.classList.toggle('hidden');
      })))
  });
</script>
<!-- TO DO FIX HOVER STATE OF Accordions -->
<dl class="my-10 divide-y divide-gray-900/10 max-w-5xl mx-auto px-8">
  {
    accordion.map(({ title, description }) => (
    <div class="pl-4">
  <dt>
    <!-- Expand/collapse question button -->
    <button
      type="button"
      class="flex w-full items-start hover:bg-gray-200 justify-between text-left text-gray-900 py-6"
      aria-controls="faq-0"
      aria-expanded="false"
    >
      <span class="text-base leading-7" set:html={title}></span>
      <span class="ml-6 flex h-7 items-center">
        <!--
              Icon when question is collapsed.

              Item expanded: "hidden", Item collapsed: ""
            -->
            <svg  class="h-8 w-8"
          height="32px"
          width="32px"
          fill="#4d1979"
          stroke-width="1"
          stroke="#4d1979"
          aria-hidden="true"
          viewBox="0 0 32 32"
          border="none">

            <path  d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
            </svg>
        <!--
              Icon when question is expanded.

              Item expanded: "", Item collapsed: "hidden"
            -->
        <svg
          class="hidden h-8 w-8"
          transform="matrix(1, 0, 0, -1, 0, 0)"
          fill="#4d1979"
          stroke-width="1"
          stroke="#4d1979"
          aria-hidden="true"
          viewBox="0 0 32 32"
          border="none">

            <path  d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
            </svg>
      </span>
    </button>
  </dt>
  <dd class=" pr-12 hidden" id="faq-0">
    <p class="text-base leading-7 text-gray-600" set:html={cleanHTML(description)}>
    </p>
  </dd>
</div>
    ))
  }
</dl>


