---
import cleanHTML from '~/utils/cleanHTML';
const { layout } = Astro.props;
const { heading, column_1, background, background_color } = layout;
const bgColor = background === 'Color' ? `background-color: ${background_color};` : '';
---

<section class="clear-both w-full h-full pb-6" style={bgColor}>
  <div class="max-w-5xl mx-auto px-8 pt-8">
    {heading && <h2 set:html={cleanHTML(heading)} class="text-2xl font-bold" />}
    {column_1 && <div set:html={cleanHTML(column_1)} class="mt-2" />}
    <div class="clear-both"></div>
  </div>
</section>
