---
import { Icon } from 'astro-icon/components';

import { footerData } from '../../endpoints.js';
const response = await fetch(footerData);
const data = await response.json();

const links = data.items.map(({ title, url, children }) => ({
  text: title,
  href: url,
  links: children?.map(({ title: title2, url: url2 }) => ({
    text: title2,
    href: url2,
  })),
}));
---

<style>
  h4 {
    color: rgb(240, 179, 35);
  }
  footer {
    background-color: var(--aw-color-primary-dark);
  }
</style>
<footer class="text-white dark pt-6">
  <div class="sm:flex sm:flex-row sm:flex-wrap p-6 justify-center pb-6 max-w-5xl mx-auto">
    {
      links.map(({ text, links }) => (
        <div class="min-w-48 p-2 sm:basis-1/2 md:basis-1/4">
          <h4 class="font-semibold pb-2.5">{text.toUpperCase()}</h4>
          <ul>
            {links.map(({ text, href }) => (
              <li class="pb-2.5">
                <a class="text-white font-normal text-sm" href={href}>
                  {text.replace(/&amp;/g, '&')}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
    <div class="p-2 min-w-56 sm:basis-1/2 md:basis-1/4">
      <Icon name="TLEDWhite" class="mb-4 h-32 w-56" />

      <div class="text-white text-sm font-light pl-2.5">
        <a class="font-light underline underline-offset-2" href="mailto:tledwebsite@austincc.edu"
          >tledwebsite@austincc.edu</a
        >
        <p class="pt-4">
          Austin Community College District<br />
          5930 Middle Fiskville Rd.<br />
          Austin, Texas 78752
        </p>
        <a href="tel:+15122234222" class="font-light">512-223-4ACC (4222)</a><br />
        <p class="pt-4">
          <a class="text-white font-light text-base" href="mailto:tledwebsite@austincc.edu"
            >Report a Problem with a Page</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
