---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/Logo.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import DropdownMenu from './DropdownMenu.astro';

import { getHomePermalink } from '~/utils/permalinks';
import type { CallToAction } from '~/types';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends CallToAction {}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const { id = 'header', isSticky = false, isDark = false, isFullWidth = true, position = '' } = Astro.props;
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    'z-50 top-0 flex-none mx-auto w-full transition-[opacity] ease-in-out',
  ]}
  {...id ? { id } : {}}
>
  <div
    class:list={[
      'relative z-0 text-default text-white py-3 px-3 md:px-6 mx-auto w-full bg-primarydark',
      {
        'flex md:justify-between': position !== 'center',
      },
      {
        'md:grid md:grid-cols-[1fr,3fr,1fr] md:items-center': position === 'center',
      },
      {
        'max-w-7xl': !isFullWidth,
      },
    ]}
  >
    <a href="/">
      <Logo />
    </a>
    <div class="ml-auto flex flex-row content-center pt-1 h-7">
      <a class="text-white" href="/calendar"><Icon class="w-7 h-7 pr-1" name="calendar" /></a>
      <button class="ml-2" type="button"><Icon class="w-7 h-7" name="search" /></button>
      <span class="flex items-center md:hidden justify-end">
        <ToggleMenu />
      </span>
    </div>
  </div>
  <DropdownMenu />
</header>
