<style>
  #searchWrapper {
    background: black;
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.2s linear;
  }
</style>
<div id="searchWrapper" class="hidden items-center justify-center min-h-44 gap-8">
  <form id="tledSearchForm" class="max-w-2xl md:flex justify-between text-white py-4">
    <fieldset>
      <label for="searchTLEDField" class="sr-only">Search TLED</label>
      <div class="flex justify-center align-middle max-h-10 mt-4 relative">
        <input id="searchTLEDField" class="h-10 px-4 text-black" />
        <button id="tledButton" type="submit" class="button h-10"> Search TLED </button>
      </div>
    </fieldset>
  </form>

  <!-- <form id="accSearchForm" class="max-w-2xl md:flex justify-between gap-8 text-white py-4">
    <fieldset>
      <legend class="pt-4 sm:pt-0 text-center md:text-left">Search ACC</legend>
      <label for="searchACCField" class="sr-only">ACC</label>
      <div class="flex justify-center align-middle max-h-10 mt-4 relative">
        <input id="searchACCField" class="h-10 px-4 text-black" />
        <button id="accButton" type="submit" class="button h-10"> Search ACC </button>
      </div>
    </fieldset>
  </form> -->
</div>
<script is:inline>
  const tledSearchForm = document.getElementById('tledSearchForm');
  const searchTLEDField = document.getElementById('searchTLEDField');
  // const accSearchForm = document.getElementById('accSearchForm');
  // const searchACCField = document.getElementById('searchACCField');

  // on form submit
  tledSearchForm &&
    tledSearchForm.addEventListener('submit', (e) => {
      e.preventDefault();
      window.location.href = `/search?search=${searchTLEDField.value}`;
    });

  // accSearchForm &&
  //   accSearchForm.addEventListener('submit', (e) => {
  //     e.preventDefault();
  //     window.location.href = `http://www.austincc.edu/search?search=${searchACCField.value}`;
  //   });
</script>
