<style>
  #searchWrapper {
    background: black;
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.2s linear;
  }
</style>
<div id="searchWrapper" class="hidden items-center justify-center min-h-44">
  <form id="searchForm" class="max-w-2xl md:flex justify-between gap-8 text-white py-4">
    <fieldset>
      <legend class="text-center md:text-left">Search TLED</legend>
      <label for="searchTLEDField" class="sr-only">TLED</label>
      <div class="flex justify-center align-middle max-h-10 mt-4 relative">
        <input id="searchTLEDField" class="h-10 px-4 text-black" />
        <button id="tledButton" type="submit" class="button h-10"> Search TLED </button>
      </div>
    </fieldset>
    <fieldset>
      <legend class="pt-4 sm:pt-0 text-center md:text-left">Search ACC</legend>
      <label for="searchACCField" class="sr-only">ACC</label>
      <div class="flex justify-center align-middle max-h-10 mt-4 relative">
        <input id="searchACCField" class="h-10 px-4 text-black" />
        <button id="accButton" type="submit" class="button h-10"> Search ACC </button>
      </div>
    </fieldset>
  </form>
</div>
<script>
  const searchTLEDField = document.getElementById('searchTLEDField');
  const searchACCField = document.getElementById('searchACCField');
  const tledButton = document.getElementById('tledButton');
  const accButton = document.getElementById('accButton');

  tledButton &&
    tledButton.addEventListener('click', () => {
      searchTLEDField.value && location.assign(`/search?search=${searchTLEDField.value}`);
    });

  accButton &&
    accButton.addEventListener('click', () => {
      // searchWrapper.classList.add('hidden');
      window.location = `http://www.austincc.edu/search?search=${searchACCField.value}`;
    });
</script>
