---
const { content, sidebar, title } = Astro.props;
---

<div class="md:flex">
  <div class="basis-2/3">
    <h1 class="text-3xl font-bold">{title}</h1>
    <section set:html={content} />
  </div>
  <div class="basis-1/3">
    <aside class="bg-gray-100 p-4" set:html={sidebar} />
  </div>
</div>
