---
import Layout from '~/layouts/Layout.astro';
import Header from '../components/widgets/Header.astro';
import Footer from '../components/widgets/Footer.astro';
import CalendarGrid from '../components/widgets/Calendar/CalendarGrid.jsx';
import { calendarEventsData } from '~/config';

const title = 'Events Calendar';

const response = await fetch(calendarEventsData);
const data = await response.json();
---

<Layout metadata={{ title }}>
  <Header />
  <div class="max-w-5xl mx-auto mb-8 px-8">
    <div class="text-[11px] py-4 uppercase">
      <a class="pr-2" href="/">Home</a> / <span class="pl-2">Calendar</span>
    </div>
    <h1 class="acc-bottom-border-line text-3xl font-bold uppercase">Calendar</h1>
    <div class="flex justify-center gap-4 mt-4">
      <a
        href="https://form.asana.com/?k=Q7C_5J_2GzFc42pZm1ketg&d=88303944259432"
        class="button rounded"
        target="_blank"
      >
        Submit Event
      </a>
      <a
        href="https://instruction.austincc.edu/tledupdates/2019/08/20/how-to-overlap-accs-faculty-events-google-calendar-with-your-acc-google-calendar/"
        class="button rounded"
        target="_blank"
      >
        Add Faculty Events Google Calendar
      </a>
    </div>
    <CalendarGrid client:load calendarData={data} />
  </div>

  <Footer />

  <!--
export default SearchPage

const SearchResult = styled.div`
  padding: 1rem 0;

  a {
    text-decoration: underline;
  }

  b {
    color: purple;
  }
`

const Query = styled.span`
  color: purple;
  font-weight: bold;
` -->
</Layout>
