---
import { SITE } from 'astrowind:config';
import { Icon } from 'astro-icon/components';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl whitespace-nowrap text-white flex">
  <Icon name="accLogo" class="w-24 h-9" /> |
  <a class="text-white font-light text-2xl pt-1" href="/">TLED</a>
</span>
