---
import { Icon } from 'astro-icon/components';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl whitespace-nowrap text-white flex">
  <Icon name="accLogo" class="w-24 h-9" />
  <a class="text-white font-light text-2xl pt-[6px] border-l pl-4 ml-3" href="/">TLED</a>
</span>
