---
import EventList from './EventList.astro';
---

<div class="sm:columns-2 mx-auto max-w-4xl p-4 md:px-8">
  <div class="flex-1">CTAs</div>
  <div class="break-inside-avoid"><EventList length={10} /></div>
</div>
