---
import EventList from './EventList.astro';
import { homeData } from '../../../endpoints.js';
const res = await fetch(homeData);
const [page] = await res.json();
const ctas = await [page.acf.layouts[1].column_1, page.acf.layouts[2].column_1, page.acf.layouts[3].column_1];
---

<style>
  .cta-section :global(h2) {
    font-size: 1.5rem;
  }
  .cta-section :global(hr) {
    margin: 20px 0px;
    width: 100%;
    color: white;
    border-bottom: 2px solid var(--aw-color-primary);
    opacity: 0.35;
  }
  .cta-section :global(hr):nth-of-type(3) {
    display: none;
  }
</style>
<section
  class="text-neutral-700 w-full my-8 px-5 max-w-5xl md:flex md:flex-row md:gap-x-8 lg:gap-x-16 mx-auto cta-section"
>
  <div class="text-base mx-auto md:flex-1 my-4">
    {
      ctas.map((html) => (
        <>
          <div class="min-h-64 mt-8 cta-box">
            <Fragment set:html={html} />
          </div>
          <hr />
        </>
      ))
    }
  </div>
  <div class="break-inside-avoid md:flex-1">
    <EventList length={10} />
  </div>
</section>
