---
import Socials from './Socials.astro';
import { homeData } from '../../../config.js';
const res = await fetch(homeData);
const [page] = await res.json();
---

<style>
  @media only screen and (min-width: 768px) {
    .intro-social-blurb :global(ul) {
      padding-top: 2rem;
      padding-left: 2rem;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    .intro-social-blurb :global(a) {
      padding-right: 1.1rem;
    }
    .intro-social-blurb :global(li:after) {
      content: '|';
    }
    .intro-social-blurb :global(li:last-child:after) {
      content: '';
    }
  }
</style>
<section class="w-full max-w-5xl mx-auto px-6 py-3">
  <div class="md:flex items-center justify-around">
    <div class="intro-social-blurb md:basis-2/4">
      <p set:html={page.content.rendered} />
    </div>
    <Socials class="md:basis-1/4" />
  </div>
</section>
