<div class="flex items-center justify-center w-full min-h-56 text-center">
  <div>
    <h1 class="text-2xl">Socials</h1>
    <ul>
      <li><a href="/about-tled/">Learn about Us</a></li>
      <li><a href="mailto:tledcomms@austincc.edu">Email Us</a></li>
      <li><a href="https://instruction.austincc.edu/tledupdates/">Blog</a></li>
      <li><a href="https://lp.constantcontact.com/su/PM24qvk/TLEDnewsletter">Newsletter</a></li>
    </ul>
  </div>
</div>
